*, *:before, *:after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

}
.box{
    background: #000000;
    padding: 50px;
    flex: 0 1 500px;
    display: flex;
    align-items: center;
}
.text{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;
}
.data{
    font-size: 48px;
    line-height: 59px;
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) 
{
    .container {
        margin: 0 48px auto;
    }
    .box{
        width: 100%;
        display: block;
        flex: none;
        padding: 48px;
    }
    .box-margin{
        margin-bottom: 32px;
    }
}

/* mobile */
@media only screen and (min-width: 320px) and (max-width: 768px) 
{
    .container {
        margin: 0 20px auto;
    }
    .box{
        width: 100%;
        display: block;
        flex: none;
        padding: 20px;
    }
    .box-margin{
        margin-bottom: 24px;
    }
}   



